:root {
    --primary-text-color: #000000;
    --secondary-color:#2196F3;
    --white-color:#FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

.link {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
.logo, .logo-footer { 
    color: var(--secondary-color);
    fon-size: 26px;
    lin-height: 1.2;
    
}
.accent {
    color: var(--primary-text-color);
    
}
.accent-footer {
    color: var(--white-color);
}

.site-nav .link {
    color: var(--primary-text-color);
    fon-size: 14px;
    line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--secondary-color);
}
.site-nav .link.current {
    color: var(--secondary-color);
}

.auth-nav .link {
    color: var(--primary-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.14;

}

.main-title{
    color: var(--white-color);
    background-color: #2F303A;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;

}

.section-title {
    color: #212121;
    font-size: 16px;
    line-height: 1.19;
}
.text {
    color:#757575;
    font-size: 14px;
    line-height: 1.7;

}
.footer {
    background-color: #2F303A;
}
.address-item {
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.7;
}
.button {
    color: var(--white-color);
    background-color: var(--secondary-color);
}


.button-nav:hover,
.button-nav:focus {
    color:var(--white-color);
    background-color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.62;
    align: Center;
    
   
 }


.title-projects {
    color: #212121;
    font-size: 18px;
    line-height: 2;
  
}

.description {
    color: #757575;
    font-size: 16px;
    line-height: 1.8;
  
}


