.features {
  width: 100%;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    width: 100%;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 90px)) / 4;
    }
  }
}

.features__link-svg {
  height: 120px;
  border: none;
  color: #afb1b8;

  background-color: #f5f4fa;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.features__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
}

.features__text {
  line-height: 1.7;
  font-weight: 400;
}

.features__wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
